body {
	background: yellow;
	display: inline;
}

div {
	display: inline;
	
}

#left div.content {
	position:absolute;
	left: 400px;
	top:100px;
}

#left div.hoverovercontent {
	position:absolute;
	left: 30px;
	top:100px;
}



#left div.content{
    border-radius:100%;
    border: 2px solid pink;
	margin-top: 20px;
	margin-left: -4%;
	background: black;
	color: white;
	padding: 20px;
	
}

#left div.hoverovercontent{
display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #2C5463;
    margin-left: 1px;
    white-space: nowrap;
}